<div class="container" style="padding-top: 100px;">
  <div class="card">
    <% if @cocktail.photo.attached? == false %>
    <%= image_tag 'sample.png' %>
    <%= @cocktail.name %>
    <%= @cocktail.country %>
    <% else %>
    <%= image_tag 'sample.png' %>
    <%= @cocktail.name %>
    <%= @cocktail.country %>
    <% end %>
  </div>
</div>
    <!-- if @cocktail.photo.key.nil? == false -->
